# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Datasets
data/
dataset/

# Audio files
*.wav
*.mp3
*.flac
*.ogg
*.m4a

# Generated NumPy features
*.npy
*.npz

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log